html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.header {
  color: white;
  text-align: center;
  background-color: black;
  font-size: 3rem;
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
}
.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-align: center;
  border: 5px solid black;
  width: 30%;
  height: 50rem;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
}
.card-img {
  width: 90%;
  height: 60%;
  object-fit: contain;
}
.card-description {
  padding: 0.5rem;
  font-size: 2rem;
}
.card-header {
  font-size: 2rem;
}
